//aboutMe
.intro-container {
    align-items: center;
    text-align: center;
    // background-color:#ffffff;
    background-color: #F7F7F7;
    // border-bottom: 2px solid #F2F2F2;
    // border-top: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 100vw;
    position: relative;
    z-index: 1;
    margin-top: 10rem;
}

.block-intro {
    // background: url("/img/1-conclusion.jpg") no-repeat center center;
    // background-size: cover;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    min-height: 25rem;
    // min-width: 100rem;
    margin-top: -3.5rem;
}

.block-intro-border {
    background: #ffffff;
    min-height: 15.5rem;
}

.block-about {
    background: url("/img/1-about-block.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    min-height: 30rem;
    min-width: 1000px;
    margin: 1rem 0;
}

.intro-topic {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
    max-width: 100vw;
    overflow: hidden;
    p {
        font-size: 12px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.figure {
    background: url("/img/4-dc.png") no-repeat center center;
    background-size: cover;
    min-height: 50rem;
    min-width: 30rem;
    margin: 0 auto;
}

.container-aboutMe {
    @extend .intro-container;
    // background-color: red;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    // min-height: 100vh;
    font-weight: 600;
    height: 100vh;
    padding: 5rem; 
    position: relative;
    z-index: 6;
    margin-top: 0;
    border-bottom: none;
    opacity: 1;
    color: black;
    width: 100vw;
}

.aboutMe-text {
    h1 {
        margin: 5rem 0 7rem 0;
    }
}

.aboutMe-links {
    color: dodgerblue;
    font-weight: 600;
}

.aboutMe-links:visited {
    color: darkorchid;
}

.nav-item-about {
    color: #777777;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1.5rem;
    text-decoration: none;
    &:hover {
        color: #111111;
    }
}

.activeItem {
    font-weight: 800;
}

//skills
.container-skills{
    @extend .container-aboutMe;
    // background-color: #F8F8FF;
    // background-color: #A770C1;
    min-height: 50vh;
    justify-content: center;
    border-bottom: none;
    position: relative;
    z-index: 1;
    // h1 {
    //     // padding-top: 16rem;
    //     // font-size: 3rem;
    // }
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

.header-skills {
    display: flex;
    flex-direction: row;
    padding-top: 15rem;
    min-height: 15rem;
    min-width: 100vw;
    background-color: turquoise;
}
.skills-slider {
    // background-color: #f8f8ff;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    // padding-top: 10rem;
}

//tools
.container-tools {
    @extend .container-skills;
    background-color: #ffffff; 
}

.tools-slider {
    @extend .skills-slider;
    background-color: #ffffff;
}

//contact

.container-contact {
    @extend .intro-container;
    // background-color: #EAEAEA;
    background: url("/img/1-block.jpg") no-repeat center center;
    background-size: cover;
    flex-direction: row;
    position: relative;
    // z-index: 1;
    margin-top: 0;
}

.contactBlock {
    // background-color: red;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    margin: auto 0;
    height: 30rem;
    min-height: 100vh;
}

.contactDetails {
    // background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    min-height: 20rem;
    margin: auto 0;
    padding: 5rem 0;
    h2 {
        font-family: cursive;
        color: #111111;
    }
    p {
      font-family: cursive;  
      color: #111111;
    }
}

.contact-button {
    background-color: #f03e3e;
    border: 1px solid #BC243C;
    border-radius: 5%;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    font-family: cursive;
    flex-direction: column;
    width: 8rem;
    height: 4rem;
    padding: 1rem 0;
    text-decoration: none;
    &:hover {
        box-shadow: 0 0 0 500rem #CC322D;
        cursor: pointer;
        transform: translateY(-5px);
        transition: 0.4s ease-in-out; 
        // background: url("/img/5-block.jpg") no-repeat center center;
        // border: 1px solid transparent;
    }
}

.contact-button-link {
    color: #555;
    text-decoration: none;
}


.container-conclusion {
    @extend .container-contact;
    background: url("/img/2.1.1.1-conclusion.jpg") no-repeat center center;
    background-size: cover;
    align-items: center;
    text-align: center;
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    margin: auto 0;
    min-width: 100vw;
    position: relative;
    // z-index: 1;
    margin-top: -5rem;
    div {
        background-color: #3E2A2C;
        border-radius: 5%;
        border: none;
        &:hover {
            box-shadow: 0 0 0 500rem #211D10;
            background-color: #3E2A2C;
            // border: 1px solid #285463;
            cursor: pointer;
            transform: translateY(-5px);
            transition: 0.4s ease-in-out; 
        }
    }
}

//scrollBar

::-webkit-scrollbar {
    width: 1em;
    background: #d8dee9;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 7%;
  border-radius: 7%;
}

::-webkit-scrollbar-button {
  background: #adb5bd;
}

::-webkit-scrollbar-thumb {
  background-color: #adb5bd; 
  border-radius: 7%;
  -webkit-border-radius: 7%;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #696969; 
}

@media (min-width: 453px) and (max-width: 768px) {
    
    .intro-container {
        flex-direction: column;
        margin: 0 0;
        min-height: 20rem;
    }

    .block-intro {
        display: none;
    }

    .block-intro-border {
        display: none;
    }

    .figure {
        display: none;
        height:5rem;
        width: 5rem;
    }
}