.container-footer {
    // background-color:#D8DEE9;
    background-color: #313649;
    // border-bottom: 1px solid #F2F2F2;
    // border-top: 2px solid #e5e9f0;
    display: flex;
    flex-direction: column;
    // font-family:;
    justify-content: center;
    margin: 0 auto;
    min-height: 30vh;
    width: 100vw;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: 70vw;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 80vw;
    background-color: #313649;
    margin: 2rem auto;
}
.one {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-right: 1px dotted #888888;
    // background-color: #d8dee9;
    width: 15rem;
    height: 20rem;
    margin: 2rem 0; 
    // justify-content: space-between;
}
.two {
    align-items: center;
    border-right: 1px dotted #888888;
    display: flex;
    flex-direction: column;
    // background-color: #d8dee9;
    width: 15rem;
    height: 20rem;
    margin: 2rem 0;
    justify-content: space-around;
}
.three {
    align-items: center;
    display: flex;
    flex-direction: column;
    // background-color: #d8dee9;
    width: 15rem;
    height: 20rem;
    margin: 0 0;
    justify-content: space-around;
}

.foot {
    background-color: #1D1E22;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: flex-end;
    padding: 0 2rem;
    p {
        color: #555555;
    }
}

.footer-nav {
    color: #777;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1.5rem;
    text-decoration: none;
    &:hover {
        color: brown;
    }
}

ul {
    padding: 1rem 0;
    list-style-type: none;
    font-size: 2rem;
    p {
        font-size: 2rem;
    }
}

@media (min-width: 453px) and (max-width: 768px) {
    ul {
        p {
            font-size: 1rem;
        }
    }
}
