* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #C6B067;
    // margin-top: 7rem;
    position: relative;
    z-index: 1;
    min-width: 100vw;
}

.header {
    align-items: center;
    background-color: #EAEAEA;
    // background-color: transparent;
    border-bottom: .1px solid #d7d7d7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    position: fixed;
    flex-direction: row;
    padding-top: .5rem;
    min-width: 100vw;
    max-height: 4rem;
    z-index: 2;
    opacity: .9;
}

.nav-container {
    margin: 0 auto;
    outline: none;
}

.nav-list {
    display: flex;
    flex-direction:row;
    list-style-type: none;
    margin: 0 auto;
}

.nav-item {
    color: #777;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 1.5rem;
    text-decoration: none;
    &:hover {
        color: brown;
    }
}

.title {
    color: #444;
    font-size: 2rem;
    font-family: fantasy;
    font-weight: 700;
    margin: 0 0 0 3rem;
    letter-spacing: .2rem;
    text-decoration: none;
}

.active-nav-item {
    color: #333333;
    font-weight: 600;
}

.newsletter {
    background-color: #CC322D;
    border: 2px solid rgb(168, 50, 50);
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    padding: 6px 8px;
    letter-spacing: 1px;
    &:hover {
        background-color: rgb(185, 28, 59);
        cursor: pointer;
    }
    // height: 1rem;
}

.link {
    @extend .nav-item;
    color: #fff;
    letter-spacing: .2px;
    &:hover {
        color: #fff
    }
}

///////////mediaQueries///////////////

@media (min-width: 453px) and (max-width: 768px) {
    
    .nav-list {
        flex-direction: column;
        align-content: center; 
    }

    .header {
        flex-direction: column;
        position: relative;
        min-height: 70vh;
    }
    main {
        margin-top: 2rem;
    }
}

// @media (min-width: 768px) and (max-width: 850px) {

// }

// $breakpoint-tablet: 768px;
// @media (min-width: $breakpoint-tablet) {
  
// }